
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: rgb(53, 169, 193);
  font-family: Arial, Helvetica, sans-serif;
}

.box{
  width: 370px;
  padding: 30px;
  background: #fff;
  
}
header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}


select{
  outline: none;
  border-radius: 5px;
  border: none;
}
p{
  font-size: 18px;
  margin-bottom: 5px;
}
input{
  height: 50px;
  width: 95%;
  font-size: 17px;
  padding: 0 15px;
  border: 2px solid #999;
}
.drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 2px solid #999;
}

.exchange-rate {
  padding: 20px;
  font-size: larger;
}

button{
    
  height: 40px;
  width: 95%;
  font-size: 20px;
  cursor: zoom-in;
  background:rgb(53, 169, 193);

}


.icon{
  cursor: pointer;
  margin-top: 40px;
  font-size: 35px;
}